In [2]:
%%bash

wget  http://ecg.mit.edu/time-series/hr.11839

--2017-05-30 11:54:34--  http://ecg.mit.edu/time-series/hr.11839
Resolving ecg.mit.edu (ecg.mit.edu)... 18.42.1.101
Connecting to ecg.mit.edu (ecg.mit.edu)|18.42.1.101|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14166 (14K)
Saving to: ‘hr.11839’

     0K .......... ...                                        100% 67,5K=0,2s

2017-05-30 11:54:35 (67,5 KB/s) - ‘hr.11839’ saved [14166/14166]

In [8]:
import pandas as pd
input_array = pd.read_csv('hr_11839.csv',header=None).values

In [6]:
def

             0
0      84.2697
1      84.2697
2      84.0619
3      85.6542
4      87.2093
5      87.1246
6      86.8726
7      86.7052
8      87.5899
9      89.1475
10     89.8204
11     89.8204
12     90.4375
13     91.7605
14     93.1081
15     94.3291
16     95.8003
17     97.5119
18     98.7457
19     98.9040
20     98.3437
21     98.3075
22     98.8313
23     99.0789
24     98.8157
25     98.2998
26     97.7311
27     97.6471
28     97.7922
29     97.2974
...        ...
1770   94.5860
1771   95.2681
1772   94.5444
1773   94.0127
1774   94.5733
1775   93.6306
1776   94.0670
1777   95.0943
1778   94.9216
1779   96.1808
1780   98.9515
1781  101.7390
1782  102.1400
1783  101.2140
1784  100.9460
1785  101.1770
1786  101.5200
1787  102.9280
1788  103.4760
1789  103.3330
1790  104.0240
1791  104.1670
1792  104.2920
1793  104.5830
1794  104.4410
1795  103.7900
1796  101.6230
1797   99.5679
1798   99.1835
1799   98.8567

[1800 rows x 1 columns]

In [16]:
len(input_array)/2

900.0

In [44]:
def median(input_data):
    if len(input_data)%2==0:
        a =  sorted(input_data)[int(len(input_data)/2)-1]
        b =  sorted(input_data)[-int(len(input_data)/2)+1]
        return (a+b)/2
    else:
        return sorted(input_data)[int(len(input_data)/2)+1]

In [45]:
test = [3, 13, 7, 5, 21, 23, 39, 23, 40, 23, 14, 12, 56, 23, 2]
test2 = [3, 13, 7, 5, 21, 23, 23, 40, 23, 14, 12, 56, 23, 29]

In [46]:
median(test2)

22.0

In [26]:
sorted(inpur_array.tolist())[int(len(input_array)/2)][0]

92.2065

In [19]:

round(7.5,0)

8.0

In [24]:
def mean_and_sd(input_array):
    mean = sum(inpur_array)/len(input_array)
    
    sd = sum([(1/len(input_array))*(x-mean)**2 for x in input_array])**0.5
    return mean[0],sd[0]

In [25]:
mean_and_sd(input_array)

(92.596114388888594, 5.4878138311665587)